<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dịch vụ của Apptech</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand ms-0 ms-lg-4" href="index.html">
          <img
            src="assets/img/logo/AppTech.png"
            alt="Công ty phần mềm Apptech™"
            width="250"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto align-content-center fs-3">
            <li class="nav-item">
              <a class="nav-link me-5" href="about.html">Giới thiệu</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle me-5"
                href="#"
                id="projectsDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dự án
              </a>
              <ul class="dropdown-menu fs-4" aria-labelledby="projectsDropdown">
                <li>
                  <a class="dropdown-item" href="projects_desktop.html"
                    >Desktop Software</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="projects_mobile.html"
                    >Mobile App</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="projects_webApp.html"
                    >Web App</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="contact.html">Liên Hệ</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="login.html"
                ><i
                  class="bi bi-person-circle"
                  style="font-size: 45px; display: flex; align-items: center"
                ></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />
  </body>
</html>
